.RPS {
    width: 100px;
    padding: 20px;
    display: none;
}

.RPS.active {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 430px;
    display: none;
}

.container.active {
    display: flex;
}