.RPS {
    width: 50%;
    padding: 20px;
    display: none;
    margin: 0 auto;
    align-content: center;
}

.RPS.active {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 200px;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: center;
}

.container.active {
    display: flex;
}